        body {
            font-family: "arial", cursive;
            background-color: silver;
            color: white;
        }
        
        @font-face {
           font-family: 'PureHeart';
           src: url('https://raw.githubusercontent.com/MSVerse/TheatN/master/PureHeart-Regular.ttf') format('truetype');
        }
        
        @font-face {
           font-family: 'GoldplayAlt';
           src: url('https://raw.githubusercontent.com/MSVerse/TheatN/master/GoldplayAlt-LightIt.ttf') format('truetype');
        }

        .content {
           width: 1%;           
        }

        #content tr:hover {
            background-color: orange;
            text-shadow: 0px 0px 10px #fff;
        }

        #content .first {
            background-color: orange;
        }

        table {
            width: 100%;
            border: 1px #000000 dotted;
        }

        a {
            color: white;
            text-decoration: none;
        }

        a:hover {
            color: blue;
            text-shadow: 0px 0px 10px #ffffff;
        }

        input,
        select,
        textarea {
            border: 1px #000000 solid;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
        }

        textarea {
            width: 100%;
            height: 200px;
        }

        form {
            margin-bottom: 20px;
        }
        
        .judul {
            font-family: 'PureHeart';
            font-size: 50px;
            display: grid;
            place-items: center;
            height: 3vh;
            color: green;
        }
        
        .judul a {
           color: green;
        }
        
        .subjudul {
            display: grid;
            place-items: center;
            color: white;
            font-family: 'GoldplayAlt';        
        }
        
        .info {
            float: right;
            margin-right: 20px;
            margin-top: 0;
            clear: both;
        }
        
        .upload {
            display: inline-block;            
            margin-right: 20px;
            cursor: pointer;
            color: white;
            border: none;
            border-radius: 4px;
            font-size: 14px;
            float: right;
            clear: both;
        }        
        
        .icon-folder {
            color: orange;
        }
        
        .icon-file {
            color: blue; 
        }
        
        .icon-menu {
            color: green;
        }
        
        .icon-info {
            color: green;
        }
        
        .first {
           font-size: 20px;
           color: green;
           background-color: white;
           font-family: 'GoldplayAlt';
        }
        
        .two {
           background-color: white;
        }
